Source/Samples/WindowsForms_Sample/Service References/WcfSample/SampleWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3853/Services/SampleWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3853/Services/SampleWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleWcfService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="ISampleWcfService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleWcfService_MakeError_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeError" />
  </wsdl:message>
  <wsdl:message name="ISampleWcfService_MakeError_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleWcfService">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleWcfService/GetMessage" message="tns:ISampleWcfService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleWcfService/GetMessageResponse" message="tns:ISampleWcfService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeError">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleWcfService/MakeError" message="tns:ISampleWcfService_MakeError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleWcfService/MakeErrorResponse" message="tns:ISampleWcfService_MakeError_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISampleWcfService" type="tns:ISampleWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/ISampleWcfService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeError">
      <soap:operation soapAction="http://tempuri.org/ISampleWcfService/MakeError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleWcfService">
    <wsdl:port name="BasicHttpBinding_ISampleWcfService" binding="tns:BasicHttpBinding_ISampleWcfService">
      <soap:address location="http://localhost:3853/Services/SampleWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>